/* ============================== margin classes ================================*/
.sectionm{
  margin: 80px 0px;
  @media(max-width:991px){
    margin: 50px 0px;
  }
  @media(max-width:575px){
    margin: 30px 0px;
  }
}
.sectionmt{
  margin-top: 80px;
  @media(max-width:991px){
    margin-top: 50px;
  }
  @media(max-width:575px){
    margin-top: 30px;
  }
}
.sectionmb{
  margin-bottom: 80px;
  @media(max-width:991px){
    margin-bottom: 50px;
  }
  @media(max-width:575px){
    margin-bottom: 30px;
  }  
}

/* ============================== padding classes ================================*/
.sectionp{
  padding: 80px 0px;
  @media(max-width:991px){
    padding: 50px 0px;
  }
  @media(max-width:575px){
    padding: 30px 0px;
  }
}
.sectionpt{
  padding-top: 80px;
  @media(max-width:991px){
    padding-top: 50px;
  }
  @media(max-width:575px){
    padding-top: 30px;
  }
}
.sectionpb{
  padding-bottom: 80px;
  @media(max-width:991px){
    padding-bottom: 50px;
  }
  @media(max-width:575px){
    padding-bottom: 30px;
  }  
}

.csmb30{
  margin-bottom: 30px;
  @media(max-width:1536px){
    margin-bottom: 20px;
  }
  @media(max-width:575px){
    margin-bottom: 10px;
  }
}  
.csmt30{
  margin-top: 30px;
  @media(max-width:991px){
    margin-top: 20px;
  }
  @media(max-width:575px){
    margin-top: 10px;
  }  
}
.cspb30{
  padding-bottom: 30px;
  @media(max-width:991px){
    padding-bottom: 20px;
  }
  @media(max-width:575px){
    padding-bottom: 10px;
  }
}  
.cspt30{
  padding-top: 30px;
  @media(max-width:991px){
    padding-top: 20px;
  }
  @media(max-width:575px){
    padding-top: 10px;
  }  
}
.csmt60{
  margin-top: 60px;
  @media(max-width:1199px){
    margin-top: 40px;
  }
  @media(max-width:575px){
    margin-top: 30px;
  }  
}
.csmb60{
  margin-bottom: 60px;
  @media(max-width:1199px){
    margin-bottom: 40px;
  }
  @media(max-width:575px){
    margin-bottom: 30px;
  }  
}
.cspt60{
  padding-top: 60px;
  @media(max-width:1199px){
    padding-top: 40px;
  }
  @media(max-width:575px){
    padding-top: 30px;
  }  
}
.cspb60{
  padding-bottom: 60px;
  @media(max-width:1199px){
    padding-bottom: 40px;
  }
  @media(max-width:575px){
    padding-bottom: 30px;
  }  
}
.csp60{
  padding: 60px 0;
  @media(max-width:1199px){
    padding: 40px 0;
  }
  @media(max-width:575px){
    padding: 30px 0;
  }  
}


/* ============================== margin classes (120 / 160 / 200) ================================*/
.csmt120 {
  margin-top: 120px;
  @media(max-width:1199px) {
    margin-top: 80px;
  }
  @media(max-width:575px) {
    margin-top: 50px;
  }
}
.csmb120 {
  margin-bottom: 120px;
  @media(max-width:1199px) {
    margin-bottom: 80px;
  }
  @media(max-width:575px) {
    margin-bottom: 50px;
  }
}

.csmt160 {
  margin-top: 160px;
  @media(max-width:1199px) {
    margin-top: 100px;
  }
  @media(max-width:575px) {
    margin-top: 60px;
  }
}
.csmb160 {
  margin-bottom: 160px;
  @media(max-width:1199px) {
    margin-bottom: 100px;
  }
  @media(max-width:575px) {
    margin-bottom: 60px;
  }
}

.csmt200 {
  margin-top: 200px;
  @media(max-width:1199px) {
    margin-top: 120px;
  }
  @media(max-width:575px) {
    margin-top: 80px;
  }
}
.csmb200 {
  margin-bottom: 200px;
  @media(max-width:1199px) {
    margin-bottom: 120px;
  }
  @media(max-width:575px) {
    margin-bottom: 80px;
  }
}

/* ============================== padding classes (120 / 160 / 200) ================================*/
.cspt120 {
  padding-top: 120px;
  @media(max-width:1199px) {
    padding-top: 80px;
  }
  @media(max-width:575px) {
    padding-top: 50px;
  }
}
.cspb120 {
  padding-bottom: 120px;
  @media(max-width:1199px) {
    padding-bottom: 80px;
  }
  @media(max-width:575px) {
    padding-bottom: 50px;
  }
}
.csp120 {
  padding: 120px 0;
  @media(max-width:1199px) {
    padding: 80px 0;
  }
  @media(max-width:575px) {
    padding: 50px 0;
  }
}

.cspt160 {
  padding-top: 160px;
  @media(max-width:1199px) {
    padding-top: 100px;
  }
  @media(max-width:575px) {
    padding-top: 60px;
  }
}
.cspb160 {
  padding-bottom: 160px;
  @media(max-width:1199px) {
    padding-bottom: 100px;
  }
  @media(max-width:575px) {
    padding-bottom: 60px;
  }
}
.csp160 {
  padding: 160px 0;
  @media(max-width:1199px) {
    padding: 100px 0;
  }
  @media(max-width:575px) {
    padding: 60px 0;
  }
}

.cspt200 {
  padding-top: 200px;
  @media(max-width:1199px) {
    padding-top: 120px;
  }
  @media(max-width:575px) {
    padding-top: 80px;
  }
}
.cspb200 {
  padding-bottom: 200px;
  @media(max-width:1199px) {
    padding-bottom: 120px;
  }
  @media(max-width:575px) {
    padding-bottom: 80px;
  }
}
.csp200 {
  padding: 200px 0;
  @media(max-width:1199px) {
    padding: 120px 0;
  }
  @media(max-width:575px) {
    padding: 80px 0;
  }
}
